@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: all .2s linear;
}
 
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}



/* header section */

header
{
    background-color: rgb(255, 255, 255);
    
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    position: fixed;
    display: flex;
    padding:1rem 7%;
    top:0; left: 0; right:0;
    justify-content: space-between;
    z-index: 1000;
    
}

header a
{
    color: #8200F6;
    font-weight: bold;
    text-decoration: none;
    

}

header a:hover
{

} 

header a c
{
    color:rgb(0, 0, 0);

}

header a d
{
    color:rgb(0, 0, 0);
    opacity: 0.5;
}

header nav
{
    margin-top: auto;
    margin-bottom: auto;
    
}

header nav a
{
    color: #8200F6;
    padding: 0.2rem;
    border-radius: .5rem;
    
}

header nav a:hover
{
    background-color: #8200F6;
    color:  #fff;
    padding: 0.2rem;
    border-radius: .5rem;
}


/* for button  */
#check 
{
    display: none;
}

.checkbtn
{
    display: none;
}



/* HEADER END */

/* Home section  */

.HomeSection
{
    height: fit-content;
    max-width: 100%;
    padding: 2em;
    padding-top: 4em;
    padding-bottom: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-bottom: 2px solid #f1f1f1;
}

.HomeSection .text
{
    
     align-items: center;
     width: 100%;
    
   
}

.HomeSection .text h1
{
    
    font-weight: 800;
     align-items: center;
     font-size: 7em;
     
}

.HomeSection b
{
    color: #8200F6;
}

.HomeSection .image
{
    padding: 1em;
    /* width: 90%; */
}

.HomeSection .image img
{

    width: 100%;
}


/* Home END  */


/* About us section */

.AboutMeSection
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  padding-top: 7rem;
  border-bottom: 2px solid #f1f1f1;
}

.AboutMeSection .image
{
    margin: 2em;
}

.AboutMeSection .image img
{

  width: 37.5rem;
  
}

.AboutMeSection .text .container{
    background-color: #f1f1f1;
    padding: 1em;
    border-radius: .5rem;

}

.AboutMeSection .text .container h1{
    
    padding: 1em;
    padding-left: 0em;
    font-size: 30px;
    

}

.AboutMeSection .text img
{
    margin-top: 2em;
  width: 12em;
}

/* About Me END */


/* Skills Section */
.SkillsSection
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;

  border-bottom: 2px solid #f1f1f1;
}

.SkillsSection .image
{
    margin: 2em;
}

.SkillsSection .image img
{

  width: 37.5rem;
  
}

.SkillsSection .text .container{
    background-color: #f1f1f1;
    padding: 1em;
    border-radius: .5rem;
    display: flex;

    

}

.SkillsSection .text .container .box{


}


.SkillsSection .text .container h1{
    
    padding: 1em;
    padding-left: 1em;
    font-size: 40px;
    

}

.SkillsSection .text .container li{
    
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    display: inline-block; 
    

}

.SkillsSection .text img
{
    margin-top: 2em;
  width: 20em;
}

/* skills Section END */



/* Resume Section */
.ResumeSection
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;

  border-bottom: 2px solid #f1f1f1;
}

.ResumeSection .image
{
    margin: 2em;
}

.ResumeSection .image img
{

  width: 37.5rem;
  
}

.ResumeSection .text .container{
    background-color: #f1f1f1;
    padding: 1em;
    border-radius: .5rem;
    

    

}

.ResumeSection .text .container .box{


}


.ResumeSection .text .container h1{
    
    padding: 1em;
    padding-left: 0em;
    font-size: 40px;
    padding-bottom: 0.5em;

}

.ResumeSection .text .container li{
    
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    display: inline-block; 
    

}

.ResumeSection .text .container button{

    background-color: #f1f1f1;
    color: #8200F6;
    padding: 0.2rem;
    border-radius: .5rem;
    border-color: #8200F6;
    border-style: solid;
    font-size: 20px;
    font-weight: bold;

}

.ResumeSection .text .container button:hover
{
    background-color: #8200F6;
    color:  #fff;
    padding: 0.2rem;
    border-radius: .5rem;
    cursor: pointer;
}

.ResumeSection .text .container p
{
    padding-bottom: 1em;
}

.ResumeSection .text img
{
    margin-top: 2em;
  width: 20em;
}

/* Resume section END */


/* Contact me section */


.ContactSection
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;

  
  
}

.ContactSection .image
{
    margin: 2em;
}

.ContactSection .image img
{

  width: 37.5rem;
  
}

.ContactSection .text
{
    margin-bottom: 10em;
    
}

.ContactSection .text .container{
    background-color: #f1f1f1;
    padding: 1em;
    border-radius: .5rem;
    padding-right: em;


    

}




.ContactSection .text .container h1{
    
    padding: 1em;
    padding-left: 0em;
    font-size: 40px;
    padding-bottom: 0.5em;

}

.ContactSection .text .container li{
    
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    display: inline-block; 
    

}

.ContactSection .text .container button{

    background-color: #f1f1f1;
    color: #8200F6;
    padding: 0.2rem;
    margin: 0.2em;
    border-radius: .5rem;
    border-color: #8200F6;
    border-style: solid;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    
    
    

}

.ContactSection .text .container button:hover
{
    background-color: #8200F6;
    color:  #fff;
    padding: 0.2rem;
    border-radius: .5rem;
}

.ContactSection .text .container p
{
    padding-bottom: 1em;
}

.ContactSection .text img
{
    margin-top: 2em;
  width: 20em;
}

/* Contact me END */


/* Projects Section */

.ProjectsSection
{
    background-color: #fff;
    padding: 32px 0;
    padding-top: 1rem;

    border-bottom: 2px solid #f1f1f1;
}

.ProjectsSection h1{
    text-align: center;
    font-size: 40px;
}

.ProjectsSection .Projects-Container .box-1
{   background-color: #f1f1f1;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;

}
.ProjectsSection .Projects-Container .box-1 p
{
    padding-bottom: 10px;

}

.ProjectsSection .Projects-Container .box-1 img
{
    
    width: 65%;
    height: 60%;
}

.ProjectsSection .Projects-Container
{
    text-align: center;
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.ProjectsSection button{

    background-color: #f1f1f1;
    color: #8200F6;
    padding: 0.2rem;
    border-radius: .5rem;
    border-color: #8200F6;
    border-style: solid;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
.ProjectsSection button:hover
{
    background-color: #8200F6;
    color:  #fff;
    padding: 0.2rem;
    border-radius: .5rem;
}

/* Projects Section END */

@media screen and (max-width: 1268px) {
    /*changes reflects on screen with a width of 720px and below*/
    .AboutMeSection .image img
{

    width: 25rem;
  
}

/* SKILLS SECTTION  */
.SkillsSection{
    gap: 0rem;
}

.SkillsSection .image img
{

    width: 25rem;
}    

.SkillsSection .text .container h1{
    
    padding: 1em;
    padding-left: 0em;
    font-size: 30px;
}

.SkillsSection .text .container li{
    
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    display: inline-block; 
    

}


/* RESUME SECTION  */
.ResumeSection{
    gap: 0rem;
}

.ResumeSection .image img
{

  width: 25rem;
  
}

.ResumeSection .text .container h1{
    
    padding: 0.2em;
    padding-left: 0em;
    font-size: 30px;
}


/* CONTACT SECTION  */

.ContactSection{
    gap: 0rem;
}

.ContactSection .text .container h1{
    
    padding: 0.2em;
    padding-left: 0em;
    font-size: 30px;
}

.ContactSection .image img
{

  width: 25rem;
  
}

  }





  /* TABLET SIZED SCREENS */
  @media screen and (max-width: 870px) {




    /* Home Sectiion  */

    .HomeSection .text h1
    {
        
        font-weight: 800;
        align-items: center;
        font-size: 5em;
        
    }
    


    /* About Section  */

    .AboutMeSection .image img
    {
    
        width: 18rem;
      
    }

    .AboutMeSection .text .container h1{
        
        padding: 1em;
        padding-left: 0em;
        font-size: 25px;
    }

    .AboutMeSection .text .container p
    {
        font-size: 13px;
    }
    
    /* SKILLS SECTTION  */
    .SkillsSection{
        gap: 0rem;
    }
    
    .SkillsSection .image img
    {
    
        width: 18rem;
    }    
    
    .SkillsSection .text .container h1{
        
        padding: 1em;
        padding-left: 0em;
        font-size: 25px;
    }
    
    .SkillsSection .text .container li{
        
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 12px;
        display: inline-block; 
        
    
    }
    
    
    /* RESUME SECTION  */
    .ResumeSection{
        gap: 0rem;
       
    }
    
    .ResumeSection .image img
    {
    
      width: 18rem;
      
    }
    
    .ResumeSection .text .container h1{
        
        padding: 0.2em;
        
        padding-left: 0em;
        font-size: 25px;
    }
    .ResumeSection .text .container p
    {
        font-size: 12px;
    }
    
    
    /* Projects section  */

    .ProjectsSection .Projects-Container{
        flex-direction: column;
    }


    /* CONTACT SECTION  */
    
    .ContactSection{
        gap: 0rem;
    }
    
    .ContactSection .text .container h1{
        
        padding: 0.2em;
        padding-left: 0em;
        font-size: 25px;
    }

    .ContactSection .text .container p {
     
        font-size: 12px;


    }
    .ContactSection .text .container button {
        font-size: 15px;
    }
    
    .ContactSection .image img
    {
    
      width: 18rem;
      
    }
  }


/* SMALL SCREENS  */

@media screen and (max-width: 695px) {


    /* home section  */

    .HomeSection
    {
        padding: 3em;
        padding-top: 3.5em;
        
    }

    .HomeSection .image
    {
        padding: 1em;
        display: none;
    }

    .HomeSection .text h1
    {
        font-size: 5em;
    }

    header nav{
   

    }

    /* About Section  */

    .AboutMeSection
    {
        flex-wrap: wrap;
    }

    .AboutMeSection .image img
    {
        width:100%;
    }

    .AboutMeSection .text .container
    {
        margin: 15px ;
    }

    .AboutMeSection .text .container h1{
        
        padding: 1em;
        text-align: center;
        padding-bottom: 0.2em;
        font-size: 35px;
    }

    .AboutMeSection .text .container p
    {
        font-size: 20px;
        text-align: center;
    }

    .AboutMeSection .text  img
    {
        display: none;
    }

    /* Skills Section  */

    .SkillsSection
    {
        flex-wrap: wrap-reverse;    
    }

    .SkillsSection .image img
    {
        width:100%;
    }

    .SkillsSection .text .container
    {
        margin: 15px ;
    }

    .SkillsSection .text .container h1{
        
        padding: 1em;
        text-align: center;
        padding-bottom: 0.2em;
        font-size: 35px;
        
    }

    .SkillsSection .text  img
    {
        display: none;
    }


    /* Resume Section  */
    .ResumeSection
    {
        flex-wrap: wrap;
    }

    .ResumeSection .image img
    {
        width:100%;
    }

    .ResumeSection .text .container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px ;
    }

    .ResumeSection .text .container h1{
        
        padding: 1em;
        text-align: center;
        padding-bottom: 0.2em;
        font-size: 35px;
    }

    .ResumeSection .text .container p
    {
        font-size: 20px;
        text-align: center;
    }
    .ResumeSection .text .container a{
       


    }

    .ResumeSection .text  img
    {
        display: none;
    }   





    /* Contact section  */

     
     .ContactSection
     {
         flex-wrap: wrap;
     }
 
     .ContactSection .image img
     {
         width:100%;
     }
 
     .ContactSection .text .container
     {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
 
         margin: 0px ;
     }
 
     .ContactSection .text .container h1{
         
         padding: 1em;
         text-align: center;
         padding-bottom: 0.2em;
         font-size: 35px;
     }
 
     .ContactSection .text .container p
     {
         font-size: 20px;
         text-align: center;
     }
     .ContactSection .text .container a{
        
 
 
     }
 
     .ContactSection .text  img
     {
         display: none;
     }   


     /* BURGER MENU SECTION  */

       header nav a
     {
        display: block;
        font-size: 20px;
        margin: 25px 0;
        line-height: 30px;
        
     }  

     .checkbtn
     {
        font-size: 30px;
        color: grey;
        float: right;
        /* line-height:  80px; */
        margin-right: 40px;
        cursor: pointer;
        display: block;
     }

     header nav
     {
        position: fixed;
        width: 100%;
        height: auto;
        background: #f1f1f1;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        border-radius: .5rem;
        /* border-color: #999999;
        border-style: solid; */

        
    }
     #check:checked ~ nav {
        left:0;
     }



@media screen and (max-width: 520px) {


    .HomeSection
    {
        padding: 2em;
        padding-top: 4.5em;
    }

    .HomeSection .text h1
    {
        font-size: 2.5em;
    }

        /* Resume Section  */
    .ResumeSection
    {
        flex-wrap: wrap;
    }

    .ResumeSection .image img
    {
        width:100%;
    }

    .ResumeSection .text .container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px ;
    }

    .ResumeSection .text .container h1{
        
        padding: 1em;
        text-align: center;
        padding-bottom: 0.2em;
        font-size: 30px;
    }

    .ResumeSection .text .container p
    {
        font-size: 11px;
        text-align: center;
    }
    .ResumeSection .text .container a{
       


    }

    .ResumeSection .text  img
    {
        display: none;
    } 





    /* Skills Section  */

    .SkillsSection
    {
        flex-wrap: wrap-reverse;    
    }

    .SkillsSection .image img
    {
        width:100%;
    }

    .SkillsSection .text .container
    {
        margin: 70px ;
    }

    .SkillsSection .text .container h1{
        
        padding: 0.5 em;
        text-align: center;
        padding-bottom: 0.2em;
        font-size: 20px;
        
    }
    .SkillsSection .text .container li{
        
        margin-right: 2px;
        margin-bottom: 1px;
        font-size: 10px;
        display: inline-block; 
        
    
    }

    .SkillsSection .text  img
    {
        display: none;
    }
     }
     


}    